.first-page {
    margin-top: -50px;
    height: 600px;
    background-size: cover;
    background: linear-gradient(rgba(49, 46, 46, 0), #5f5e5e), url(first1.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

h1 {
    color: white;
    font-size: 60px;
    font-family: 'Heebo', sans-serif;
    text-align: center;
    padding-top: 10%;
}

#first-para {

    text-align: center;
    color: white;
    font-size: 20px;

}

.first-button {
    text-decoration: none;
    background-color: #ff4750ef;
    font-size: 15px;
    font-weight: 700;
    font-family: sans-serif;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;

}

#link {
    text-align: center;
    padding-top: 20px;
}

.second-first-div {
    text-align: center;
    padding-top: 80px;
    font-size: 15px;
    font-style: sans-serif;
    color: grey;
}

.second-second-div {

    margin-left: 25%;
    margin-right: 25%;
    padding: 25px;
    color: grey;
}

.second-head {
    font-size: 28px;
    font-family: sans-serif;
    color: black;

}

#flexiable {
    display: flex;
}


.box {
    margin-left: 3%;
    padding: 25px;
    height: 40px;
    background-color: rgba(235, 235, 235, 0.384);
    font-size: 20px;
    text-decoration: solid;
    color: gray;
    font-family: sans-serif;

}

.box2 {
    background-color: pink;
    color: #ff4750ef;
    border-style: solid;
    border-width: 2px;
    border-color: #ff4750ef;
}

.text {
    border: none;
    border-bottom: 2px solid darkgray;
    color: darkgrey;
    padding-bottom: 5px;
    text-align: center;
    margin-left: 20px;
    margin-bottom: 15px;


}

#third-page {
    color: black;
    text-align: center;
    font-size: 40px;
}

.third-page {
    text-align: center;
}

.three-box {
    margin-left: 10%;
    margin-right: 10%;

}

.third-box-1 {
    background-color: rgba(212, 227, 241, 0.911);
    padding: 40px 8px 50px 20px;
    margin-right: 2%;

}

.third-box-2 {
    background-color: #e7d6d9;
    padding: 40px 8px 50px 20px;
    margin-right: 2%;

}

.third-box-3 {
    background-color: rgb(245, 230, 163);
    padding: 40px 8px 50px 20px;
    margin-right: 2%;

}

h3 {
    font-family: Verdana;

}

.para {
    color: rgb(105, 98, 98);
}

.section4 {
    height: 50%;
    width: 30%;
    margin-left: 8%;
    padding: 10px;

}

.section4-padding {

    padding-top: 5px;
}

.section4-img {

    height: 450px;
    width: 450px;
    padding: 140px;
    position: absolute;
}

#section4-h1 {
    color: black;
    font-size: 40px;
    text-align: left;
    padding-top: 30%;
}

.section4-para {
    color: gray;
    font-size: large;
    text-align: left;

}

.section4-button {
    text-decoration: none;
    background-color: #ff4750ef;
    font-size: 20px;
    font-weight: 700;
    font-family: sans-serif;
    color: white;
    padding: 15px 20px;
    border-radius: 4px;

}

#link4 {
    text-align: left;
    padding-top: 20px;
}

.section5-img {

    height: 450px;
    width: 450px;
    margin-left: 17%;
    padding-top: 100px;
    padding-left: 30px;
    padding-right: 50px;
}

#section5-h1 {
    color: black;
    font-size: 40px;
    text-align: left;
    padding-top: 30%;
}

.section5 {
    height: 40%;
    width: 30%;
    margin-left: 10%;
    text-align: left;

}

.section5-h1 {
    color: black;
    text-align: center;
    font-size: 40px;

}

.section5-para {
    color: gray;
    font-size: large;
    text-align: center;
}

.section5-box {
    width: 600px;
    background-color: blanchedalmond;
    padding: 50px;
    margin: 50px 300px 150px;

}

.section5-text {
    border: none;
    background-color: rgba(192, 192, 192, 0.849);
    padding: 11px;
    text-align: left;
    margin: 10px 50px;
    border-radius: 10px 0px 0px 10px;
}

.button-subscriber {
    text-decoration: none;
    color: white;
    background-color: #ff5959;
    padding: 10px 40px;
    border-radius: 0px 10px 10px 0px;
    text-align: center;
    margin-left: -56px;
    border: none;
}

footer {
    margin: -10px;
    width: 100%;
    height: 150px;
    background-color: black;
    color: white;
    text-align: center;
}

.section5-h2 {
    font-style:italic;
    color: red;
    text-align: center;
    padding-top: 50px;
}

.section5-p {
    color: white;
    padding-top: px;
    font-style: normal;
}